<html>
  <head>
    <meta charset="utf-8" />
    <title><%- subject %></title>
  </head>
  <body>
    <h1>Prezado(a) <%- name %>,</h1>
    <p>Nós da Interlogex, confirmamos o recebimento do seu e-mail e agradecemos a sua preferência! Entraremos em contato o mais breve o possível para responder ao seu e-mail</p>
    <br />
    <a href="interlogex.com.br"><img src="cid:logo" width="300" /></a>
  </body>
</html>
